# dependencies
node_modules/

# production
.next/
out/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*
!.env.example

# vercel
.vercel/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# turbopack (Next.js 13+)
.turbo/