.book-tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: var(--secondary-background);
    border-radius: 16px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    width: 75vw;
  }
  
  .book-tabs {
    width: 100%;
    padding: 32px;
  }
  
  .tabs-header {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    /* padding: 16px 12px; */
  }
  
  .tab-btn {
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 16px;
  }
  
  .tab-btn.active {
    background-color: var(--primary-button);
    color: var(--primary-button-text);
    border-color: var(--primary-button);
  }
  
  .tab-content {
    padding: 16px 0px;
    background-color: var(--secondary-background);
    border-radius: 12px;
    border: 1px solid var(--border-color);
  }
  
  .citation-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .citation-card {
    background-color: var(--primary-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    line-height: 1.4;
    white-space: pre-line;
  }
  
  .copy-text-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: var(--primary-button);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    width: fit-content;
  }
  
  .copy-text-btn:hover {
    background-color: transparent;
  }
  
  .copy-icon {
    font-size: 18px;
  }
  