@import '../../resources/colors/colors.js';


.LoginScreen {
  text-align: center;
  background-color: var(--light-theme-primary-background);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundFormLogin {
  width: 300px;
  height: 200px;
  padding: 32px;
  background-color: white;
  border-radius: 12px; /* Скругление углов */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: flex-start;
}


.LoginScreen-header {
  background-color: var(--light-theme-primary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transform: scale(0.8); /* Уменьшаем масштаб до 80% */
}
